::before,
::after,
* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(247, 247, 247);
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(242 112 96);
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.nav-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 70px;
  padding: 10px 60px;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(rgb(67 147 220), rgb(28 103 156));
}

.button-nav-bar {
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-size: 0.9rem;
  font-family: inherit;
}

.main-contents-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  background-color: #d5d5d5;
  margin: 0 70px 20px 70px;
  border-radius: 0 0 10px 10px;
}

.items-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  gap: 40px;
}

.items-container_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 25px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  color: #898989;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 170px;
  height: 75px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.info-items-container {
  color: #8b8b8b;
}

.button-items-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: #fdfdfd;
  background-color: #9e9c9c;
  border-radius: 0 5px 5px 0;
  font-size: 1.5rem;
  width: 55px;
}

.button-items-less {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: #fdfdfd;
  background-color: #9e9c9c;
  border-radius: 5px 0 0 5px;
  font-size: 1.5rem;
  width: 55px;
}
